@import "@/styles/mediaQuery.scss";
.container {
  display: flex;
  flex-direction: column;
  width: 25rem;
  max-width: 25rem;
  padding: 2rem;

  @include mq768px {
    width: 100%;
  }

  .authBtnGroup {
    width: 100%;
    display: flex;
    gap: 1rem;
    margin: 1.5rem 0;

    @include mq530px {
      flex-direction: column;
    }

    button {
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      border: none;
      background-color: #ffffff;
      border-radius: 10px;
      font-weight: 400;
      width: 50%;
      color: #858585;
      cursor: pointer;
      transition-duration: 200ms;

      &:hover {
        scale: 1.05;
      }

      @include mq530px {
        width: 100%;
      }
    }
  }

  .authCard {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2rem;

    form {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    .formGroup {
      display: flex;
      flex-direction: column;
      gap: 5px;

      input {
        border: none;
        outline: none;
        background-color: #eaeaea;
        font-size: 16px;
        padding: 0.5rem 1rem;
        border-radius: 10px;
      }

      input::placeholder {
        color: #858585;
      }

      input:focus {
        border-bottom: 1px solid #64ff00;
      }
    }

    p {
      color: #346bd4;

      &:hover {
        text-decoration: underline;
      }
    }

    button {
      color: white;
      font-weight: 700;
      border: none;
      background-color: #000000;
      padding: 0.5rem;
      border-radius: 10px;
      font-size: large;
      cursor: pointer;
      transition-duration: 200ms;

      &:hover {
        scale: 1.05;
      }
    }
  }

  .switchAuthPrompt {
    margin-top: 1.5rem;
    text-align: center;
    color: #858585;

    span {
      color: #346bd4;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
